.mat-card {
    width: 350px;
    margin: 2rem auto;
    text-align: center;
}

.full-width-input,
button {
    width: 100%;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #6a6a6a !important;
}

 ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: darkgray !important;
}

 ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #ba0020 !important;
}

.mat-form-field.mat-form-field {
    font-size: 13px;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #ba0020 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #6a6a6a !important;
}