<form [formGroup]="forma" (ngSubmit)="grabar()">
    <!-- {{ userS.acciones_s | json }} -->
    <!-- informacion general -->
    <!--     <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Fecha:</label>
            <div class="col-sm-4">
                <input type="date" formControlName="txtFecha" id="txtFecha">
            </div>
            <label class="col-sm-2 control-label">Fecha:</label>
            <div class="col-sm-4">
                <input type="date" formControlName="txtFecha" id="txtFecha">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Fecha:</label>
            <div class="col-sm-4">
                <input type="date" formControlName="txtFecha" id="txtFecha">
            </div>
            <label class="col-sm-2 control-label">Fecha:</label>
            <div class="col-sm-4">
                <input type="date" formControlName="txtFecha" id="txtFecha">
            </div>
        </div>
    </div> -->

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Fecha:</label>
                            <div class="col-sm-3">
                                <input type="date" formControlName="txtFecha" id="txtFecha">
                            </div>
                            <label class="col-sm-1 control-label">Planilla:</label>
                            <div class="col-sm-3">
                                <input type="text" formControlName="txtPlanilla" id="txtPlanilla" placeholder="Planilla reparto">
                            </div>

                            <label class="col-sm-1 control-label">Embalaje:</label>
                            <div class="col-sm-3 input-icons">
                                <i class="fas fa-box icon"></i>
                                <select formControlName="drpEmbalaje" id="drpEmbalaje" class="input-field" (change)="consultarRutas()">
                                    <option value="" selected="selected">--Seleccione--</option>
                                    <option value="CA">CAJAS</option>
                                    <option value="PA">PAQUETES</option>
                                    <option value="SO">SOBRES</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">C.Cargue:</label>

                            <div class="col-sm-3">
                                <input #myCC type="text" formControlName="txtCC" id="txtCC" placeholder="C.C" (change)="adicionarCC()" autofocus>
                                <small style="text-align: left;" *ngIf="forma.controls['txtCC'].invalid && forma.controls['txtCC'].touched" class="text-danger"><b>CC invalido</b></small>
                            </div>
                            <div class="col-sm-4 control-label" style="text-align: left;">
                                <div class="badge" *ngFor="let cc of ccs" (click)="eliminarCC(cc)" style="cursor: pointer;">{{ cc.num_controlc }}</div>
                            </div>
                            <label class="col-sm-1 col-md-1 col-lg-1 control-label">Tipo:</label>
                            <div class="col-sm-3 input-icons">
                                <i class="fas fa-user icon"></i>
                                <select formControlName="drpTipo" id="drpTipo" (change)="consultarParametrosTipo()" class="input-field">  <!-- *ngIf="ccs.length > 0" -->
                                    <option value="" selected="selected">--Seleccione--</option>
                                    <option value="envia"><i><b style="color:#bf0000">envía</b></i></option>
                                    <option value="RX">REEXPEDIDORES</option>
                                    <option value="CO">CONTRATISTAS B</option>
                                    <option value="TERCEROS">TERCEROS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-loading *ngIf="cargando"></app-loading>
    </div>
    <!-- panel propios -->
    <div class="form-horizontal" *ngIf="(forma.controls.drpTipo.value=='envia')">
        <div class="form-group">
            <!-- Datos ruta -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fas fa-truck"></i> Datos ruta <i><b style="color:#bf0000">envía</b></i>
                    </div>
                    <div class="panel-body text-center">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Macrozona:</label>
                            <label class="col-sm-4 control-label" style="text-align: left;"><b>{{ cod_macrozona }} - {{ nom_macrozona }}</b></label>
                            <label class="col-sm-2 control-label">Zona L.:</label>
                            <label class="col-sm-4 control-label" style="text-align: left;"><b>{{ cod_zonal }} - {{ nom_zonal }}</b></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Frente:</label>
                            <div class="col-sm-4">
                                <select id="drpFrente" formControlName="drpFrente">
                                    <option value="" selected="selected">--Seleccione frente--</option>
                                    <option *ngFor="let f of frentes" value="{{ f.Cod_Turno }}">{{ f.Des_Turno }}</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">Cuadrilla:</label>
                            <div class="col-sm-4">
                                <input type="number" formControlName="txtCuadrilla" id="txtCuadrilla" placeholder="Cuadrilla">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Placa:</label>
                            <div class="col-sm-3">
                                <input #myPlacaenvia type="text" formControlName="txtPlacaenvia" id="txtPlacaenvia" (change)="consultarVehiculoenvia()" placeholder="">
                            </div>
                            <label class="col-sm-7 control-label" style="text-align: left;">Tipo: <b>{{ tipo_vehiculo }} {{ van }}</b></label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Operadores - conductor envia-->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fas fa-users"></i> Tripulación <i><b style="color:#bf0000">envía</b></i>
                    </div>
                    <div class="panel-body text-center">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Conductor:</label>
                            <div class="col-sm-3">
                                <input type="text" formControlName="txtCodigoConductorenvia" id="txtCodigoConductorenvia" (change)="buscarCodigoConductorenvia()" placeholder="Codigo">
                            </div>
                            <div class="col-sm-7">
                                <select id="drpConductorenvia" formControlName="drpConductorenvia">
                                    <option value="" selected="selected ">--Seleccione conductor--</option>
                                    <option *ngFor="let o of conductores" value="{{ o.Codigo }}">{{ o.Nom_Empleado }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 control-label ">Operadores:</label>
                            <div class="col-sm-3 ">
                                <input type="text " formControlName="txtCodigoOperador" id="txtCodigoOperador" (change)="buscarCodigoOperadorenvia()" placeholder="Codigo">
                            </div>
                            <div class="col-sm-5">
                                <select id="drpOperadorenvia" formControlName="drpOperadorenvia" (change)="getEmpleado($event)">
                                    <option value="" selected="selected">--Seleccione operador--</option>
                                    <option *ngFor="let o of operadores" value="{{ o.Codigo }}">{{ o.Nom_Empleado }}</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <input type="button " value="+" class="btn btn-primary input-field" (click)="adicionarOperador() ">
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-sm-12 ">
                                <table class="tabla tabla-bordered " style="width:100% ">
                                    <tr>
                                        <td width="20% ">Codigo</td>
                                        <td width="75% ">Operador</td>
                                        <td width="5% "></td>
                                    </tr>
                                    <tr *ngFor="let operador of array_operadores; let i=i ndex ">
                                        <td>{{ operador.Codigo }}</td>
                                        <td>{{ operador.Nom_Empleado }}</td>
                                        <td (click)="eliminarOperador(i) "><a><i class="fa fa-trash " style="padding:0px "></i></a></td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- panel rx -->
    <div class="form-horizontal " *ngIf="(forma.controls.drpTipo.value=='RX') ">
        <div class="form-group ">
            <div class="col-sm-12 ">

                <div class="form-group ">
                    <!-- Datos ruta -->
                    <div class="col-sm-12 col-md-6 col-lg-6 ">
                        <div class="panel panel-default ">
                            <div class="panel-heading ">
                                <i class="fas fa-truck "></i> Datos ruta Reexpedidores
                            </div>
                            <div class="panel-body text-center ">
                                <div class="form-group ">
                                    <label class="col-sm-3 control-label ">Reexpedidor:</label>
                                    <div class="col-sm-9 ">
                                        <select id="drpReexpedidores" formControlName="drpReexpedidores" (change)="tiposLiquidacionRX()">
                                            <option value="" selected="selected">--Seleccione--</option>
                                            <option *ngFor="let r of reexpedidores " value="{{ r.Cod_Reexpedidor }} ">{{ r.Nom_Reexpedidor }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-3 control-label ">Liquidación:</label>
                                    <div class="col-sm-9 ">
                                        <select id="drpTipoLiquidacionRX" formControlName="drpTipoLiquidacionRX">
                                            <option value="" selected="selected">--Seleccione--</option>
                                            <option *ngFor="let t of tipos_rx" value="{{ t.Cod_Tipo }} ">{{ t.Des_Tipo }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Operadores - conductor -->
                    <div class="col-sm-12 col-md-6 col-lg-6 ">
                        <div class="panel panel-default ">
                            <div class="panel-heading ">
                                <i class="fas fa-users "></i> Tripulación
                            </div>
                            <div class="panel-body text-center ">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">Conductor:</label>
                                    <div class="col-sm-3 ">
                                        <input type="text" formControlName="txtCodigoConductorRX" id="txtCodigoConductorRX" (change)="buscarCodigo() " placeholder="Codigo ">
                                    </div>
                                    <div class="col-sm-7">
                                        <select id="drpConductorRX" formControlName="drpConductorRX">
                                            <option value="" selected="selected">--Seleccione conductor--</option>
                                            <option *ngFor="let o of conductores" value="{{ o.Codigo }} ">{{ o.Nom_Empleado }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Operador:</label>
                                    <div class="col-sm-3">
                                        <input type="text" formControlName="txtCodigoOperadorRX" id="txtCodigoOperadorRX" (change)="buscarCodigo() " placeholder="Codigo ">
                                    </div>
                                    <div class="col-sm-7 ">
                                        <select id="drpOperadorRX" formControlName="drpOperadorRX">
                                            <option value="" selected="selected">--Seleccione operador--</option>
                                            <option *ngFor="let o of operadores " value="{{ o.Codigo }} ">{{ o.Nom_Empleado }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- panel contratistas -->
    <div class="form-horizontal " *ngIf="(forma.controls.drpTipo.value=='CO' ) ">
        <div class="form-group ">
            <div class="col-sm-12 ">
                <div class="form-group ">
                    <!-- Datos ruta -->
                    <div class="col-sm-12 col-md-6 col-lg-6 ">
                        <div class="panel panel-default ">
                            <div class="panel-heading">
                                <i class="fas fa-truck"></i> Datos ruta Contratista
                            </div>
                            <div class="panel-body text-center">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Contratista:</label>
                                    <div class="col-sm-9">
                                        <select id="drpContratistas" formControlName="drpContratistas" (change)="tiposLiquidacionContratistas()">
                                            <option value="" selected="selected">--Seleccione--</option>
                                            <option *ngFor="let c of contratistas" value="{{ c.Cod_Oficina }} ">{{ c.Nom_Oficina }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Liquidación:</label>
                                    <div class="col-sm-9">
                                        <select id="drpTipoLiquidacionContratista" formControlName="drpTipoLiquidacionContratista">
                                           <!--  <option value=" ">--Seleccione--</option> -->
                                            <option *ngFor="let t of tipos_contratista" value="{{ t.Cod_Tipo }} ">{{ t.Des_Tipo }}</option>
                                        </select>

                                        <div *ngFor="let t of tipos_contratista">
                                            {{ t.Cod_Tipo }} <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Operadores - conductor -->
                    <div class="col-sm-12 col-md-6 col-lg-6 ">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fas fa-users"></i> Tripulación
                            </div>
                            <div class="panel-body text-center">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Conductor:</label>
                                    <div class="col-sm-3">
                                        <input type="text" formControlName="txtCodigoConductorRX" id="txtCodigoConductorRX" (change)="buscarCodigo()" placeholder="Codigo">
                                    </div>
                                    <div class="col-sm-7 ">
                                        <select id="drpConductorRX" formControlName="drpConductorRX">
                                            <option value="" selected="selected">--Seleccione conductor--</option>
                                            <option *ngFor="let o of operadores" value="{{ o.Codigo }} ">{{ o.Nom_Empleado }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">Operador:</label>
                                    <div class="col-sm-3">
                                        <input type="text" formControlName="txtCodigoOperadorRX" id="txtCodigoOperadorRX" (change)="buscarCodigo()" placeholder="Codigo">
                                    </div>
                                    <div class="col-sm-7">
                                        <select id="drpOperadorRX" formControlName="drpOperadorRX">
                                            <option value="" selected="selected">--Seleccione operador--</option>
                                            <option *ngFor="let o of operadores" value="{{ o.Codigo }} ">{{ o.Nom_Empleado }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- panel terceros -->
    <div class="form-horizontal " *ngIf="(forma.controls.drpTipo.value=='TERCEROS' ) ">
        <div class="form-group ">
            <div class="col-sm-12 ">
                <div class="form-group ">
                    <!-- Datos ruta -->
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fas fa-truck "></i> Datos ruta Tercero
                            </div>
                            <div class="panel-body text-center">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label ">Tercero:</label>
                                    <div class="col-sm-9 ">
                                        <select id="drpTerceros" formControlName="drpTerceros" (change)="consultarTercero()">
                                            <option value="" selected="selected">--Seleccione--</option>
                                            <option *ngFor="let c of terceros" value="{{ c.Cod_Tercero }} ">{{ c.Nom_Tercero }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-3 control-label ">Ruta:</label>
                                    <div class="col-sm-9">
                                        <select id="drpRutasTercero" formControlName="drpRutasTercero">
                                            <option value="" selected="selected">--Seleccione ruta--</option>
                                            <option *ngFor="let ruta of rutas" value="{{ ruta.Cod_Ruta }} ">{{ ruta.Nom_Ruta }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-3 control-label ">Vehiculo:</label>
                                    <div class="col-sm-3 ">
                                        <select id="drpVehiculosTercero" formControlName="drpVehiculosTercero">
                                            <option value="" selected="selected">--Seleccione placa--</option>
                                            <option *ngFor="let v of vehiculos_terceros " value="{{ v.Cod_Placa }} ">{{ v.Nro_Placa }}</option>
                                        </select>
                                    </div>
                                    <label class="col-sm-3 control-label">Tip. Liq.:</label>
                                    <div class="col-sm-3 ">
                                        <select id="drpTipoLiquidacionTercero" formControlName="drpTipoLiquidacionTercero">
                                            <option value="" selected="selected">--Seleccione--</option>
                                            <option *ngFor="let t of tipos_tercero " value="{{ t.Cod_Tipo }} ">{{ t.Des_Tipo }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Operadores - conductor -->
                    <div class="col-sm-12 col-md-6 col-lg-6 ">
                        <div class="panel panel-default ">
                            <div class="panel-heading ">
                                <i class="fas fa-users "></i> Tripulación
                            </div>
                            <div class="panel-body text-center ">
                                <div class="form-group ">
                                    <label class="col-sm-3 control-label ">Conductor:</label>
                                    <div class="col-sm-9 ">
                                        <select id="drpConductorTercero" formControlName="drpConductorTercero">
                                            <option value=" " selected="selected ">--Seleccione conductor--</option>
                                            <option *ngFor="let c of conductores_terceros " value="{{ c.Cod_Conductor }} ">{{ c.Nom_Conductor }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-3 control-label ">Conductor TX:</label>
                                    <div class="col-sm-9 ">
                                        <select id="drpConductorTerceroTX" formControlName="drpConductorTerceroTX">
                                            <option value=" " selected="selected ">--Seleccione operador--</option>
                                            <option *ngFor="let o of conductores " value="{{ o.Codigo }} ">{{ o.Nom_Empleado }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="main-container" *ngIf="ccs.length > 0">
        <!-- guias -->
        <div class="form-horizontal">

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="panel panel-default">

                        <div class="panel-body text-center" style="overflow: scroll; height: 150px;">
                            <div class="col-sm-12">
                                <table class="tabla tabla-bordered" style="width:1500px;overflow: scroll;">
                                    <tr style="font-weight: bold;" align="center">
                                        <td></td>
                                        <td>Regional</td>
                                        <td>Forma pago</td>
                                        <td>Guia</td>
                                        <td>Estado</td>
                                        <td>Viene de R</td>
                                        <td>Pasa a CC</td>
                                        <td>Novedad</td>
                                        <td>Aclaración</td>
                                        <td>Nov.OP</td>
                                        <td>Nov.SC</td>
                                        <td>Control</td>
                                    </tr>
                                    <tr *ngFor="let guia of guias; let i = index" align="center">
                                        <td>{{ i + 1 }}</td>
                                        <td><b>{{ guia.Cod_Regional }}</b></td>
                                        <td><b>{{ guia.Cod_FormaPago }}</b></td>
                                        <td>{{ guia.Cons_GuiasU }}</td>
                                        <td>{{ guia.Des_EstadoG }}</td>
                                        <td>{{ guia.CP }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>{{ guia.Num_ControlC }}</td>
                                    </tr>
                                    <tr *ngFor="let guias_ of forma.controls.arrOpe?.value" align="center">
                                        <td><input type="text" formControlName="txtCodigo" value="1"></td>
                                        <td><input type="text" formControlName="txtNombre" value="2"></td>
                                    </tr>
                                </table>

                                <!-- <app-grids [guias]="guias" *ngIf="guias.length > 0"> </app-grids> -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- observaciones -->

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-4" style="text-align: center;">
                                    <div class="radio radio-styled">
                                        <label>
                                            <input type="radio" formControlName="rblAccion" id="rblAccion" value="Insertar" checked="">
                                            <span>Ingresar guías</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4" style="text-align: center;">
                                    <div class="radio radio-styled">
                                        <label>
                                            <input type="radio" formControlName="rblAccion" id="rblAccion" value="Retirar" checked="">
                                            <span>Retirar guías</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4" style="text-align: center;">
                                    <div class="radio radio-styled">
                                        <label>
                                            <input type="radio" formControlName="rblAccion" id="rblAccion" value="Novedades" checked="">
                                            <span>Novedades</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Insertar guias en la planilla -->
                <div class="col-sm-6" *ngIf="forma.controls['rblAccion'].value === 'Insertar'">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Guía:</label>
                                <div class="col-sm-9">
                                    <input #myCodRegional type="text" style="width: 40px;" class="texto-guia" formControlName="txtCodRegional" id="txtCodRegional" maxlength="2">&nbsp;
                                    <input type="text" style="width: 40px;" class="texto-guia" formControlName="txtCodFormaPago" id="txtCodFormaPago" maxlength="2">&nbsp;
                                    <input type="text" style="width: 150px;" class="texto-guia" formControlName="txtConsGuiasU" id="txtConsGuiasU" maxlength="9" (change)="adicionarGuia()">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Retirar guias en la planilla -->
                <div class="col-sm-6" *ngIf="forma.controls['rblAccion'].value === 'Retirar'">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Guía :</label>
                                <div class="col-sm-9">
                                    <input #myCodRegional type="text" style="width: 40px;" class="texto-guia" formControlName="txtCodRegional" id="txtCodRegional" maxlength="2">&nbsp;
                                    <input type="text" style="width: 40px;" class="texto-guia" formControlName="txtCodFormaPago" id="txtCodFormaPago" maxlength="2">&nbsp;
                                    <input type="text" style="width: 150px;" class="texto-guia" formControlName="txtConsGuiasU" id="txtConsGuiasU" maxlength="9" (change)="adicionarGuia()">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Pasa a CC :</label>
                                <div class="col-sm-9">
                                    <input #myCCPasa type="text" style="width: 150px;" class="texto-guia" formControlName="txtCCPasa" id="txtCCPasa" maxlength="2">&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Novedad guia -->
                <div class="col-sm-6" *ngIf="forma.controls['rblAccion'].value === 'Novedades'">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Guía:</label>
                                <div class="col-sm-2">
                                    <input #myCodRegional type="text" style="width: 40px;" class="texto-guia" formControlName="txtCodRegional" id="txtCodRegional" maxlength="2">&nbsp;
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" style="width: 40px;" class="texto-guia" formControlName="txtCodFormaPago" id="txtCodFormaPago" maxlength="2">&nbsp;
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" style="width: 100%" class="texto-guia" formControlName="txtConsGuiasU" id="txtConsGuiasU" maxlength="9" (change)="adicionarGuia()">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Novedad :</label>
                                <div class="col-sm-2">
                                    <input type="text" class="texto-guia" style="width: 40px;" formControlName="txtCodNovedad" id="txtCodFormaPago" maxlength="2">&nbsp;
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="texto-guia" formControlName="txtAclaracion" id="txtConsGuiasU" placeholder="Digite aclaración...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <textarea id="txtObservaciones" class="full-width" name="txtObservaciones" placeholder="Observaciones"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- totales -->
        <div class="form-horizontal">
            <!-- *ngIf="guias.length > 0" -->
            <div class="alert alert-danger">
                <div class="form-group">
                    <div class="col-sm-6">
                        <h3>Total destinos: {{ guias.length }} </h3>
                    </div>
                    <div class="col-sm-6">
                        <h3>Total guías: {{ guias.length }} </h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- botones -->
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-3" style="padding: 8px;">
                    <button mat-raised-button (click)="grabar()" color="primary" class="full-width">Grabar</button>
                </div>
                <div class="col-sm-3" style="padding: 8px;">
                    <button mat-raised-button (click)="anular()" color="primary" class="full-width">Anular</button>
                </div>
                <div class="col-sm-3" style="padding: 8px;">
                    <button mat-raised-button (click)="nuevo()" color="primary" class="full-width">Nuevo</button>
                </div>
                <div class="col-sm-3" style="padding: 8px;">
                    <button mat-raised-button (click)="imprimir()" color="primary" class="full-width">Imprimir</button>
                </div>
            </div>
        </div>

    </div>
    {{ userS.acciones_s | json }}
</form>