<form [formGroup]="forma" ngSubmit="grabar()">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Control:</label>
                            <div class="col-sm-4">
                                <input type="text" formControlName="txtControlCargue" id="txtControlCargue" placeholder="Control cargue" (change)="consultarCC()">
                            </div>
                            <label class="col-sm-2 control-label">Embalaje:</label>
                            <div class="col-sm-4 input-icons">
                                <i class="fas fa-box icon"></i>
                                <select formControlName="drpEmbalaje" id="drpEmbalaje" (change)="consultarRutas()" class="input-field" autofocus>
                                    <option value="" selected="selected">--Seleccione--</option>
                                    <option value="CA">CAJAS</option>
                                    <option value="PA">PAQUETES</option>
                                    <option value="SO">SOBRES</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Estado:</label>
                            <div class="col-sm-4">
                                <div class="badge" style="font-size: 24px;" *ngIf="cc">{{ estado }}</div>
                            </div>
                            <label class="col-sm-2 control-label">Guías:</label>
                            <div class="col-sm-4 text-left">
                                <div class="badge" style="font-size: 24px;" *ngIf="guias.length > 0">{{ guias.length }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ruta:</label>
                            <div class="col-sm-3">
                                <input type="text" formControlName="txtCodigoRuta" id="txtCodigoRuta" (change)="buscarCodigoRuta()" placeholder="Codigo">
                            </div>
                            <div class="col-sm-7">
                                <select id="drpRuta" formControlName="drpRuta">
                                    <option value="" selected="selected">--Seleccione ruta--</option>
                                    <option *ngFor="let ruta of rutas" value="{{ ruta.Cod_Ruta }}">{{ ruta.Nom_Ruta }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Responsable:</label>
                            <div class="col-sm-3">
                                <input type="text" formControlName="txtCodigo" id="txtCodigo" placeholder="Codigo" (change)="buscarCodigo()">
                            </div>
                            <div class="col-sm-7">
                                <select id="drpOperador" formControlName="drpOperador">
                                    <option value="" selected="selected">--Seleccione operador--</option>
                                    <option *ngFor="let o of operadores" value="{{ o.Codigo }}">{{ o.Nom_Empleado }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Consecutivo:</label>
                            <div class="col-sm-3">
                                <input type="text" formControlName="txtConsSalida" id="txtConsSalida" placeholder="Cons.">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-loading *ngIf="cargando"></app-loading>
        <app-mensajes tipo="danger" [mensaje]="mensaje_error" *ngIf="error"></app-mensajes>
    </div>

    <div class="form-horizontal" *ngIf="estado !='CE'">
        <div class="form-group">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <app-loading *ngIf="cargando_guia"></app-loading>
                    <div class="panel-body text-center">
                        <div class="col-sm-12">Guía : &nbsp;
                            <input #myCodRegional type="text" style="width: 40px;" class="texto-guia" formControlName="txtCodRegional" id="txtCodRegional" maxlength="2">&nbsp;
                            <input type="text" style="width: 40px;" class="texto-guia" formControlName="txtCodFormaPago" id="txtCodFormaPago" maxlength="2">&nbsp;
                            <input type="text" style="width: 150px;" class="texto-guia" formControlName="txtConsGuiasU" id="txtConsGuiasU" maxlength="9" (change)="adicionarGuia()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-danger" *ngIf="mostrar_panel_anular">
        <div class="panel-heading">Ingrese el nuevo Control de cargue para la guía : {{ guia_cambiar_cc}}</div>
        <div class="panel-body text-right">
            <div class="col-sm-9">Control de cargue : &nbsp;
                <input #myNuevoCC type="text" style="width: 150px;" class="texto-guia" formControlName="txtNuevoControlCargue" id="txtNuevoControlCargue" maxlength="8">
            </div>
            <div class="col-sm-3" style="text-align: left;">
                <button mat-raised-button (click)="cambiarGuiaCC()" color="primary" class="full-width">Grabar</button>
            </div>
        </div>
    </div>

    <div class="form-horizontal" *ngIf="guias.length > 0">
        <div class="form-group">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body text-center dangerspm" style="overflow: scroll;height: 200px;">
                        <div class="col-sm-12">
                            <table class="tabla tabla-bordered tabla-hover" style="width:100%;overflow: scroll;">
                                <tr style="font-weight: bold;" align="center">
                                    <td width="5%"></td>
                                    <td width="10%">Regional</td>
                                    <td width="10%">Forma pago</td>
                                    <td width="15%">Guia</td>
                                    <td width="20%">Estado</td>
                                    <td width="10%">CP?</td>
                                    <td width="10%"></td>
                                </tr>
                                <tr *ngFor="let guia of guias; let i = index" align="center" [ngClass]="{success: registro_activo == i}">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ guia.Cod_Regional }}</td>
                                    <td>{{ guia.Cod_FormaPago }}</td>
                                    <td>{{ guia.Cons_GuiasU }}</td>
                                    <td>{{ guia.Des_EstadoG }}</td>
                                    <td>{{ guia.Con_CartaPorte }}</td>
                                    <td (click)="eliminarGuia(i, guia)"><a><i class="fa fa-trash" *ngIf="estado =='AB' || origen =='adicion'" style="padding:0px"></i></a>{{ origen }}</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-3" style="padding: 8px;">
                <button mat-raised-button (click)="grabar()" color="primary" class="full-width">Grabar</button>
            </div>
            <div class="col-sm-3" style="padding: 8px;">
                <button mat-raised-button (click)="anular()" [disabled]="bloqueo_anular" color="primary" class="full-width">Anular</button>
            </div>
            <div class="col-sm-3" style="padding: 8px;">
                <button mat-raised-button (click)="nuevo()" color="primary" class="full-width">Nuevo</button>
            </div>
            <div class="col-sm-3" style="padding: 8px;">
                <button mat-raised-button (click)="imprimir()" color="primary" class="full-width">Imprimir</button>
            </div>
        </div>
    </div>
    //{{ opcion_activa }}// {{ permisos | json }}
</form>